@media all {
  body {
    margin: 0px;
  }
}
@media screen and (min-width: 1281px) {
  body {
    background-color: white;
  }

  .photos {
    height: 25vh;
  }
}
.inside_border, .footer, .big_footer .footer_sec, .big_footer, .logos, .gap, .people .taylor .first .border, .people .taylor, .people .thomas .first .border, .people .thomas, .people .olivia .first .border, .people .olivia, .people .adrianna .first .border, .people .adrianna, .circles .circle_cont .circle .inside_text, .circles .circle_cont, .need_our_help .arrows, .need_our_help .check_ous_buttn, .need_our_help, .header .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 3.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .logo {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid #f34739;
  width: 80px;
  height: 36px;
  margin-left: 0.4rem;
}
.header .menu_cont {
  margin-left: 66%;
}
.header .menu {
  width: 1em;
  height: 1px;
  background-color: black;
  margin-top: 5px;
}
.header .menu:first-child {
  margin-top: 0px;
}

.need_our_help {
  background-image: url("../img/top_designers.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  color: white;
  line-height: 0.7;
}
.need_our_help .need_help_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.need_our_help .need_help_text p {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}
.need_our_help .need_help_text .line {
  height: 1px;
  width: 20vw;
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: white;
}
.need_our_help .top_design {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
.need_our_help .top_design h1 {
  margin: 0px;
  font-size: 2.8rem;
  text-align: center;
  line-height: 0.9;
}
.need_our_help .check_ous_buttn {
  border: 1px solid white;
  border-radius: 30px;
  width: 110px;
  height: 25px;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  text-decoration: none;
  color: white;
  margin-top: 4vh;
}
.need_our_help .arrows {
  margin-top: 50px;
}
.need_our_help .arrows .arrow {
  width: 10px;
  height: 10px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  margin-bottom: 5px;
  transform: rotate(-45deg);
}

.circles {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  margin-top: 30px;
}
.circles .circle_cont {
  margin-bottom: 30px;
}
.circles .circle_cont .circle {
  width: auto;
  height: auto;
  position: relative;
}
.circles .circle_cont .circle svg {
  width: 210px;
  height: 210px;
}
.circles .circle_cont .circle svg .progress_ring__circle {
  stroke-width: 3;
  fill: transparent;
  transform: translate(45px, 45px);
}
.circles .circle_cont .circle .inside_text {
  text-align: center;
  width: 110px;
  position: absolute;
  bottom: 33%;
  left: 24%;
}
.circles .circle_cont .circle .inside_text .inside_number {
  font-size: 60px;
  font-weight: 900;
  margin: 0px;
}
.circles .circle_cont .circle .inside_text .inside_desc {
  margin: 0px;
}
.circles .circle_cont .circle_desc {
  width: 180px;
  text-align: center;
}

.our_team {
  background-image: url(../img/our_teampng.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.people {
  width: 100%;
  font-family: "Quicksand", sans-serif;
}
.people .adrianna {
  width: 100%;
  height: 480px;
}
.people .adrianna .first {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.people .adrianna .first .border {
  border: 2px solid black;
  border-bottom: none;
  width: 90%;
  height: 85%;
}
.people .adrianna .socond {
  width: 100%;
  height: 240px;
  background-image: url("../img/adrianna.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.people .adrianna .socond .border {
  border: 2px solid white;
  border-top: none;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
}
.people .adrianna .socond .border .triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
}
.people .olivia {
  width: 100%;
  height: 480px;
}
.people .olivia .first {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.people .olivia .first .border {
  border: 2px solid black;
  border-bottom: none;
  width: 90%;
  height: 85%;
}
.people .olivia .first .border p {
  text-align: center;
  margin: 0px;
  line-height: 1.1;
}
.people .olivia .first .border .header_text {
  font-weight: 300;
  margin-bottom: 15px;
}
.people .olivia .first .border .desc_text {
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 300;
}
.people .olivia .socond {
  width: 100%;
  height: 240px;
  background-image: url("../img/olivia.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.people .olivia .socond .border {
  border: 2px solid white;
  border-top: none;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
}
.people .thomas {
  width: 100%;
  height: 480px;
}
.people .thomas .first {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.people .thomas .first .border {
  border: 2px solid black;
  border-bottom: none;
  width: 90%;
  height: 85%;
}
.people .thomas .socond {
  width: 100%;
  height: 240px;
  background-image: url("../img/thomas.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.people .thomas .socond .border {
  border: 2px solid white;
  border-top: none;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
}
.people .taylor {
  width: 100%;
  height: 480px;
}
.people .taylor .first {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.people .taylor .first .border {
  border: 2px solid black;
  border-bottom: none;
  width: 90%;
  height: 85%;
}
.people .taylor .socond {
  width: 100%;
  height: 240px;
  background-image: url("../img/tylor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.people .taylor .socond .border {
  border: 2px solid white;
  border-top: none;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
}
.people p {
  text-align: center;
  margin: 0px;
  line-height: 1.1;
}
.people .header_text {
  font-weight: 300;
  margin-bottom: 15px;
}
.people .desc_text {
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 300;
}
.people .triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
}
.people .red_line {
  width: 180px;
  height: 3px;
  background-color: #f34739;
}

.portfolio {
  background-image: url("../img/portfolion.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photos {
  width: 100%;
}
.photos .sec {
  display: flex;
  width: 100%;
}
.photos .sec .images {
  height: 20vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: opacity(0.6);
}

.brands {
  background-image: url("../img/brands.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gap {
  width: 100%;
  height: 30vh;
  font-family: "Quicksand", sans-serif;
}
.gap .up_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.gap .up_text .line {
  width: 10vw;
  height: 1px;
  background-color: white;
  margin-left: 2vw;
  margin-right: 2vw;
}
.gap .up_text p {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0px;
}
.gap .bottom_text h1 {
  font-size: 2.8rem;
  margin: 0px;
}

.logos {
  width: 100%;
}
.logos .pic_logo {
  display: flex;
}
.logos .pic_logo .logo {
  height: 20vh;
  border: 1px solid #f5f5f5;
  border-right: none;
  border-bottom: none;
  background-position: center;
  background-repeat: no-repeat;
}
.logos .free {
  display: flex;
  justify-content: center;
}
.logos .space {
  height: 6vh;
  border: 1px solid #f5f5f5;
  border-bottom: none;
  border-top: none;
  border-right: none;
}

.big_footer {
  width: 100%;
  background-color: #101010;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
.big_footer .footer_sec {
  margin-bottom: 20px;
}
.big_footer .footer_sec h1 {
  color: #ffffff;
  font-size: 1.8rem;
}
.big_footer .footer_sec .blue_line {
  width: 140px;
  height: 1px;
  background-color: #028779;
}
.big_footer .footer_sec p {
  color: #4a4a4a;
  text-align: center;
  font-size: 1rem;
  margin: 0px;
  margin-top: 14px;
  line-height: 1.4;
  width: 200px;
}

.footer {
  background-color: #0e0e0d;
  width: 100%;
  height: 8vh;
  color: #3a3a3a;
  font-family: "Quicksand", sans-serif;
  font-size: 0.8rem;
}

.inside_border {
  width: 90vw;
  height: 20vh;
  border: 2px solid white;
  color: white;
  line-height: 1.1;
}

/*# sourceMappingURL=main.css.map */
