@media all {
  body {
    margin: 0px;
  }
}
@media screen and (min-width: 1281px) {
  body {
    background-color: white;
  }
}
.inside_border, .our_team, .circles .circle_cont .circle .inside_text, .circles .circle_cont, .need_our_help .arrows, .need_our_help .check_ous_buttn, .need_our_help, .header .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 3.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .logo {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 1px solid #f34739;
  width: 80px;
  height: 36px;
  margin-left: 0.4rem;
}
.header .menu_cont {
  margin-left: 66%;
}
.header .menu {
  width: 1em;
  height: 1px;
  background-color: black;
  margin-top: 5px;
}
.header .menu:first-child {
  margin-top: 0px;
}

.need_our_help {
  background-image: url("../img/top_designers.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  color: white;
  line-height: 0.7;
}
.need_our_help .need_help_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.need_our_help .need_help_text p {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}
.need_our_help .need_help_text .line {
  height: 1px;
  width: 20vw;
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: white;
}
.need_our_help .top_design {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
.need_our_help .top_design h1 {
  margin: 0px;
  font-size: 2.8rem;
  text-align: center;
  line-height: 0.9;
}
.need_our_help .check_ous_buttn {
  border: 1px solid white;
  border-radius: 30px;
  width: 110px;
  height: 25px;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  text-decoration: none;
  color: white;
  margin-top: 4vh;
}
.need_our_help .arrows {
  margin-top: 50px;
}
.need_our_help .arrows .arrow {
  width: 10px;
  height: 10px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  margin-bottom: 5px;
  transform: rotate(-45deg);
}

.circles {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  margin-top: 30px;
}
.circles .circle_cont {
  margin-bottom: 30px;
}
.circles .circle_cont .circle {
  width: auto;
  height: auto;
  position: relative;
}
.circles .circle_cont .circle svg {
  width: 210px;
  height: 210px;
}
.circles .circle_cont .circle svg .progress_ring__circle {
  stroke-width: 3;
  fill: transparent;
  transform: translate(45px, 45px);
}
.circles .circle_cont .circle .inside_text {
  text-align: center;
  width: 110px;
  position: absolute;
  bottom: 33%;
  left: 24%;
}
.circles .circle_cont .circle .inside_text .inside_number {
  font-size: 60px;
  font-weight: 900;
  margin: 0px;
}
.circles .circle_cont .circle .inside_text .inside_desc {
  margin: 0px;
}
.circles .circle_cont .circle_desc {
  width: 180px;
  text-align: center;
}

.our_team {
  background-image: url(../img/our_teampng.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 25vh;
  font-family: "Quicksand", sans-serif;
}
.our_team .up_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.our_team .up_text .line {
  width: 10vw;
  height: 1px;
  background-color: white;
  margin-left: 2vw;
  margin-right: 2vw;
}
.our_team .up_text p {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0px;
}
.our_team .bottom_text h1 {
  margin: 0px;
}

.inside_border {
  width: 90vw;
  height: 20vh;
  border: 2px solid white;
  color: white;
  line-height: 1.1;
}

/*# sourceMappingURL=main.css.map */
