@use 'media.scss';

//Center items
%flex_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//
//
// body selector in next file nigga
// go check it 
//

.header{
    width: 100%;
    height: 3.7rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    .logo{
        @extend %flex_center;   //center
    
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border: 1px solid #f34739;
        width: 80px;
        height: 36px;
    
        margin-left: 0.4rem;
    }
    
    .menu_cont{
        margin-left: 66%;
    }
    
    .menu{
        width: 1em;
        height: 1px;
        background-color: black;
        margin-top: 5px;
    }
    
    .menu:first-child{
        margin-top: 0px;
    }
    
}

.need_our_help{
    @extend %flex_center;

    background-image: url("../img/top_designers.png");
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 300px;

    color: white;

    line-height: 0.7;

    .need_help_text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        p{
            font-family: 'Quicksand', sans-serif;
            font-weight: 300;
            font-size: 1.2rem;
        }
    
        .line{
            height: 1px;
            width: 20vw;
            margin-left: 2vw;
            margin-right: 2vw;
            background-color: white;
        }
        
    }

    .top_design{
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
    
        h1{
            margin: 0px;
            font-size: 2.8rem;
            text-align: center;
            line-height: 0.9;
        }
    }

    .check_ous_buttn{
        @extend %flex_center;

        border: 1px solid white;
        border-radius: 30px;

        width: 110px;
        height: 25px;

        font-family: 'Dosis', sans-serif;
        font-weight: 400;
        font-size: 0.85rem;
        text-decoration: none;
        color: white;

        margin-top: 4vh;
    }

    .arrows{
        @extend %flex_center;
        margin-top: 50px;

        .arrow{
            width: 10px;
            height: 10px;

            border-bottom: 1px solid white;
            border-left: 1px solid white;

            margin-bottom: 5px;

            transform: rotate(-45deg);
        }
    }
}

.circles{       //fuck this shit
    width: 100%;

    font-family: 'Quicksand', sans-serif;

    margin-top: 30px;
    
    .circle_cont{
        @extend %flex_center;

        margin-bottom: 30px;

        .circle{
            width: auto;
            height: auto;

            position: relative;
            svg {
                width: 210px;
                height: 210px;
                .progress_ring__circle{
                    stroke-width: 3;
                    fill: transparent;

                    transform: translate(45px, 45px);
                }
            }

            .inside_text{
                @extend %flex_center;
                text-align: center;
                width: 110px;

                position: absolute;
                bottom: 33%;
                left: 24%;

                .inside_number{
                    font-size: 60px;
                    font-weight: 900;
                    margin: 0px;
                }

                .inside_desc{
                    margin: 0px;
                }
            }
        }

        .circle_desc{
            width: 180px;
            text-align: center;
        }
    }
}       //fuck this shit

.our_team{
    background-image: url(../img/our_teampng.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @extend %flex_center;

    width: 100%;
    height: 30vh;

    font-family: 'Quicksand', sans-serif;

    .up_text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .line{
            width: 10vw;
            height: 1px;
            background-color: white;
            margin-left: 2vw;
            margin-right: 2vw;
        }

        p{
            font-size: 1.3rem;
            font-weight: 300;
            margin: 0px;
        }
    }

    .bottom_text{
        h1{
            margin: 0px;
        }
    }
}

.people{
    width: 100%;

    font-family: 'Quicksand', sans-serif;

    .adrianna{
        width: 100%;
        height: 240+240px;

        @extend %flex_center;

        .first{
            width: 100%;
            height: 240px;

            display: flex;
            align-items: flex-end;
            justify-content: center;

            .border{
                border: 2px solid black;
                border-bottom: none;

                width: 90%;
                height: 85%;

                @extend %flex_center;
            }
        }

        .socond{
            width: 100%;
            height: 240px;

            background-image: url("../img/adrianna.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            display: flex;
            align-items: flex-start;
            justify-content: center;

            .border{
                border: 2px solid white;
                border-top: none;

                width: 90%;
                height: 90%;

                display: flex;
                justify-content: center;

                .triangle{
                    width: 0; 
                    height: 0; 
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    
                    border-top: 20px solid white;
                }
            }

        }
    }

    .olivia{
        width: 100%;
        height: 240+240px;

        @extend %flex_center;

        .first{
            width: 100%;
            height: 240px;

            display: flex;
            align-items: flex-end;
            justify-content: center;

            .border{
                border: 2px solid black;
                border-bottom: none;

                width: 90%;
                height: 85%;

                @extend %flex_center;

                p{
                    text-align: center;
                    margin: 0px;
                    line-height: 1.1;
                }

                .header_text{
                    font-weight: 300;
                    margin-bottom: 15px;
                }

                .desc_text{
                    margin-top: 15px;
                    font-size: 1.1rem;
                    font-weight: 300;
                }
            }
        }

        .socond{
            width: 100%;
            height: 240px;

            background-image: url("../img/olivia.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            display: flex;
            align-items: flex-start;
            justify-content: center;

            .border{
                border: 2px solid white;
                border-top: none;

                width: 90%;
                height: 90%;

                display: flex;
                justify-content: center;
            }

        }
    }

    .thomas{
        width: 100%;
        height: 240+240px;

        @extend %flex_center;

        .first{
            width: 100%;
            height: 240px;

            display: flex;
            align-items: flex-end;
            justify-content: center;

            .border{
                border: 2px solid black;
                border-bottom: none;

                width: 90%;
                height: 85%;

                @extend %flex_center;
            }
        }

        .socond{
            width: 100%;
            height: 240px;

            background-image: url("../img/thomas.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            display: flex;
            align-items: flex-start;
            justify-content: center;

            .border{
                border: 2px solid white;
                border-top: none;

                width: 90%;
                height: 90%;

                display: flex;
                justify-content: center;
            }

        }
    }

    .taylor{
        width: 100%;
        height: 240+240px;

        @extend %flex_center;

        .first{
            width: 100%;
            height: 240px;

            display: flex;
            align-items: flex-end;
            justify-content: center;

            .border{
                border: 2px solid black;
                border-bottom: none;

                width: 90%;
                height: 85%;

                @extend %flex_center;
            }
        }

        .socond{
            width: 100%;
            height: 240px;

            background-image: url("../img/tylor.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            display: flex;
            align-items: flex-start;
            justify-content: center;

            .border{
                border: 2px solid white;
                border-top: none;

                width: 90%;
                height: 90%;

                display: flex;
                justify-content: center;
            }
        }
    }

    p{
        text-align: center;
        margin: 0px;
        line-height: 1.1;
    }

    .header_text{
        font-weight: 300;
        margin-bottom: 15px;
    }

    .desc_text{
        margin-top: 15px;
        font-size: 1.1rem;
        font-weight: 300;
    }

    .triangle{
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        
        border-top: 20px solid white;
    }

    .red_line{
        width: 180px;
        height: 3px;
        background-color: #f34739;
    }
}

.portfolio{
    background-image: url("../img/portfolion.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @extend %flex_center;

    width: 100%;
    height: 30vh;

    font-family: 'Quicksand', sans-serif;

    margin-top: 25px;

    .up_text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .line{
            width: 10vw;
            height: 1px;
            background-color: white;
            margin-left: 2vw;
            margin-right: 2vw;
        }

        p{
            font-size: 1.3rem;
            font-weight: 300;
            margin: 0px;
        }
    }

    .bottom_text{
        h1{
            margin: 0px;
        }
    }
}

.photos{
    width: 100%;
    .sec{
        display: flex;
        width: 100%;

        .images{
            height: 20vh;

            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            filter: opacity(0.6);
        }
    }
}



//border in headers
.inside_border{
    width: 90vw;
    height: 20vh;

    border: 2px solid white;

    @extend %flex_center;

    color: white;
    line-height: 1.1;
}


