$back: #123456;
$big_screen: 1281px;

@media all{
    body{
        margin: 0px;
    }
}

@media screen and (min-width: $big_screen){
    body{
        background-color: $back;
    }
}

.header{
    background-color: $back;
    width: 100%;
    height: 100px;
}
