$big_screen: 1281px;    //Resolution for monitor screen

@media all{
    body{
        margin: 0px;
    }
}

@media screen and (min-width: $big_screen){
    body{
        background-color: white;
    }

    .photos{
        height: 25vh;
    }
}
